@import url("https://npmcdn.com/basscss@8.0.1/css/basscss.min.css")

body {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0)
}

header {
  background: url("https://dl.dropboxusercontent.com/u/3367612/images/header_img.JPG") no-repeat fixed;
  background-size: cover;
  height: 400px;
  padding: 20%;
}

header #banner{
}
.nav-row {
  background-color: black;
}
/*it would be nice to use SASS here */

.nav-row li {
    margin-left: 5px;
}

header img {

}

#stage {

}
#wrapper {
  background-color: rgb(179, 180, 190);
  align.center;
  m6;
}

p {

 }

#banner {
    background-image: url(file//img/header_img.jpg);
}
