/* line 1, ../sass/style.scss */
body {
  background-color: #e6e6e6;
  color: black;
}

/* line 7, ../sass/style.scss */
#header {
  background: url("https://dl.dropboxusercontent.com/u/3367612/images/dreamscape.jpg") no-repeat fixed;
  background-size: cover;
  height: 800px;
}

/* line 14, ../sass/style.scss */
.jumbotron {
  padding: 6%;
  border-radius: 10px;
  opacity: .5;
}

/* line 19, ../sass/style.scss */
.nav li {
  text-transform: uppercase;
}

/* line 23, ../sass/style.scss */
#improv_games.navbar-default .navbar-brand {
  color: #faf7f7;
}

/* line 26, ../sass/style.scss */
#improv_games.navbar-default {
  font-size: 15px;
  background-color: black;
  border-bottom-width: 6px;
}

/* line 31, ../sass/style.scss */
#improv_games.navbar-default .navbar-nav > li > a {
  color: #c2c2c2;
  background-color: black;
}

/* line 35, ../sass/style.scss */
#improv_games.navbar-default .navbar-nav > li > a:hover,
#improv_games.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: rgba(248, 248, 248, 0);
}

/* line 40, ../sass/style.scss */
#improv_games.navbar-default .navbar-nav > .active > a,
#improv_games.navbar-default .navbar-nav > .active > a:hover,
#improv_games.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

/* line 46, ../sass/style.scss */
#improv_games.navbar-default .navbar-toggle {
  border-color: #ddd;
}

/* line 49, ../sass/style.scss */
#improv_games.navbar-default .navbar-toggle:hover,
#improv_games.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

/* line 53, ../sass/style.scss */
#improv_games.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

/* line 56, ../sass/style.scss */
#improv_games.navbar-default .navbar-toggle:hover .icon-bar,
#improv_games.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #000000;
}

/* line 61, ../sass/style.scss */
#spacer {
  height: 300px;
}

/* line 66, ../sass/style.scss */
h1 {
  color: #786a6a;
}

/*my styles*/
/* line 73, ../sass/style.scss */
.spaced {
  margin-top: 20px;
  margin-bottom: 20px;
}
